
@charset "UTF-8";
/* COL */
/* COLOR */
/* FONT */
/*16px*/
/*14px*/
/*13px*/
/*12px*/
/*11px*/
/* GAP */
/* img */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://www.jsdelivr.com/package/npm/lato-font");
* {
  font-family: 'Noto Sans KR', 'Sans-serif';
  word-break: keep-all;
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #222;
}

/*html {margin: 0; padding: 0; height: 100%;}*/
body {
  font-size: 14px;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

label {
  font-size: 1em;
  color: #444;
  font-weight: 500;
}

input {
  border: none;
  font-size: 1em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /*  -webkit-text-fill-color: #333;*/
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input[type='button'],
input[type='submit'],
input[type='radio'] {
  -webkit-appearance: none;
  cursor: pointer;
}

input[type='text']:disabled {
  background-color: #f5f5f5;
}

button {
  border: none;
  font-size: 1em;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  background-color: transparent;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

textarea {
  width: 100%;
  float: left;
  padding: 9px 10px;
  border: 1px solid #E6E9EC;
  background-color: #f7f7f7;
  border-radius: 3px;
  color: #222;
  vertical-align: top;
  font-size: 1em;
  resize: vertical;
  line-height: 1.5em;
}

textarea:hover {
  border: 1px solid #999;
}

textarea:focus {
  border: 1px solid #222;
}

textarea::-webkit-input-placeholder {
  color: #777;
}

textarea::-moz-placeholder {
  color: #777;
}

textarea::-ms-input-placeholder {
  color: #777;
}

.sb-wrap,
.sb-row {
  width: 100%;
  float: left;
}

.sb-middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.sb-left {
  float: left;
}

.sb-right {
  float: right;
}

.sb-pcView {
  display: block;
}

.sb-moView {
  display: none;
}

.sb-div {
  width: 100%;
  float: left;
  height: 1px;
}

/*FONT*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.35em;
  -webkit-transform: rotate(0.1deg);
          transform: rotate(0.1deg);
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 1.333em;
}

/*16px*/
h2 {
  font-size: 1.1667em;
}

/*14px*/
h3 {
  font-size: 1.083em;
}

/*13px*/
h4 {
  font-size: 1em;
}

/*12px*/
h5 {
  font-size: 0.95em;
}

/*11px*/
p {
  font-weight: 400;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

/*button*/
.sb-btn {
  height: 33px;
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  position: relative;
}

.sb-btn svg {
  margin-right: 3px;
  width: 16px;
  float: left;
}

.sb-btn span {
  float: left;
}

.sb-btn img {
  margin-right: 6px;
  float: left;
}

.sb-btn--back {
  background-color: #f7f7f7;
  color: #ee4b55;
  border: 1px solid #f7f7f7;
}

.sb-btn--back:hover {
  background-color: #ffe9e9;
  border: 1px solid #ffe9e9;
}

.sb-btn--back:focus {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
}

.sb-btn--back:focus::after {
  background-color: #f7f7f7;
}

.sb-btn--back__gray {
  background-color: #f4f5f7;
  border: 1px solid #f4f5f7;
  color: #222;
}

.sb-btn--back__gray:hover {
  background-color: #ebecf0;
  border: 1px solid #ebecf0;
}

.sb-btn--back__grayRed {
  background-color: #f4f5f7;
  border: 1px solid #f4f5f7;
  color: #ee4b55;
}

.sb-btn--back__disabled {
  background-color: #eee;
  border: 1px solid #eee;
  color: #ccc;
  cursor: default;
}

.sb-btn--line {
  background-color: #fff;
  color: #666;
  border: 1px solid #E6E9EC;
}

.sb-btn--line img {
  width: 15px;
}

.sb-btn--line:hover {
  border: 1px solid #999;
}

.sb-btn--line__red {
  border: 1px solid #E6E9EC;
  color: #ee4b55;
}

.sb-btn--line__red:hover {
  border: 1px solid #999;
}

.sb-btn--text {
  font-weight: 600;
  font-size: 1em;
  height: auto;
  color: #ee4b55;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sb-btn--text:hover {
  background-color: #f0eff4;
}

.sb-btn-del svg {
  width: 16px;
  margin-right: 3px;
}

.sb-btn-add span {
  margin-top: 1px;
}

.sb-btn-save svg {
  width: 12px;
  margin: 1px 6px 0 0;
}

.sb-btn-cancel svg {
  width: 12px;
  margin-right: 5px;
}

.sb-btn-del--icon {
  margin: 0 0 0 3px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sb-btn-del--icon:hover {
  background-color: #fff;
}

.sb-btn-del--icon:hover svg path {
  fill: #ee4b55;
}

.sb-btn-del--icon svg {
  width: 16px;
  float: left;
  margin-left: 7px;
}

.sb-btn-del--icon svg path {
  fill: #666;
}

.sb-btn-add--icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 0 0 3px;
}

.sb-btn-add--icon svg {
  float: left;
  width: 16px;
}

.sb-btn-add--icon svg path {
  fill: #666;
}

.sb-btn-add--icon svg #stroke {
  stroke: #666;
}

.sb-btn-add--icon:hover {
  background-color: #f0eff4;
}

.sb-btn-add--icon:hover svg path {
  fill: #ee4b55;
}

.sb-btn-add--icon:hover svg #stroke {
  stroke: #ee4b55;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*input text*/
input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #999;
}

/*checkbox*/
[type='checkbox'] + span:not(.lever) {
  padding-left: 23px;
  height: 19px;
  line-height: 19px;
  font-size: 1.083em;
}

[type='checkbox'].filled-in:not(:checked) + span:not(.lever):after {
  width: 16px;
  height: 16px;
  border: 2px solid #ced4da;
  background-color: #fff;
}

[type='checkbox'].filled-in:checked + span:not(.lever):after {
  width: 16px;
  height: 16px;
  border: 2px solid #ee4b55;
  background-color: #ee4b55;
}

[type='checkbox'].filled-in:checked + span:not(.lever):before {
  top: 1px;
  width: 6px;
  height: 11px;
}

/*radio*/
[type='radio']:not(:checked) + span:before,
[type='radio']:not(:checked) + span:after {
  border: 2px solid #ced4da;
}

[type='radio']:not(:checked) + span,
[type='radio']:checked + span {
  padding-left: 25px;
  height: 21px;
  line-height: 21px;
  font-size: 1.1667em;
  color: #666;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:before,
[type='radio'].with-gap:checked + span:after {
  border: 2px solid #ee4b55;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:after {
  background-color: #ee4b55;
}

/* input */
input[type='text'].sb-input,
input[type='password'].sb-input,
input[type='date'].sb-input,
input.sb-input {
  width: 100%;
  float: left;
  padding: 7px 10px;
  border: 1px solid #E6E9EC;
  border-radius: 3px;
  color: #222;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f7f7f7;
  line-height: normal;
  font-size: 1em;
  font-family: 'Noto Sans KR', 'Sans-serif';
}

input[type='text'].sb-input:hover,
input[type='password'].sb-input:hover,
input[type='date'].sb-input:hover,
input.sb-input:hover {
  border: 1px solid #999;
}

input[type='text'].sb-input:disabled, input[type='text'].sb-input:-moz-read-only,
input[type='password'].sb-input:disabled,
input[type='password'].sb-input:-moz-read-only,
input[type='date'].sb-input:disabled,
input[type='date'].sb-input:-moz-read-only,
input.sb-input:disabled,
input.sb-input:-moz-read-only {
  background-color: #dad9d9;
  border: 1px solid #E6E9EC;
  color: #666;
  cursor: default;
}

input[type='text'].sb-input:disabled, input[type='text'].sb-input:read-only,
input[type='password'].sb-input:disabled,
input[type='password'].sb-input:read-only,
input[type='date'].sb-input:disabled,
input[type='date'].sb-input:read-only,
input.sb-input:disabled,
input.sb-input:read-only {
  background-color: #dad9d9;
  border: 1px solid #E6E9EC;
  color: #666;
  cursor: default;
}

input[type='text'].sb-input:disabled span, input[type='text'].sb-input:-moz-read-only span,
input[type='password'].sb-input:disabled span,
input[type='password'].sb-input:-moz-read-only span,
input[type='date'].sb-input:disabled span,
input[type='date'].sb-input:-moz-read-only span,
input.sb-input:disabled span,
input.sb-input:-moz-read-only span {
  color: #666;
}

input[type='text'].sb-input:disabled span, input[type='text'].sb-input:read-only span,
input[type='password'].sb-input:disabled span,
input[type='password'].sb-input:read-only span,
input[type='date'].sb-input:disabled span,
input[type='date'].sb-input:read-only span,
input.sb-input:disabled span,
input.sb-input:read-only span {
  color: #666;
}

input[type='text'].sb-input::-webkit-input-placeholder,
input[type='password'].sb-input::-webkit-input-placeholder,
input[type='date'].sb-input::-webkit-input-placeholder,
input.sb-input::-webkit-input-placeholder {
  color: #777;
}

input[type='text'].sb-input::-moz-placeholder,
input[type='password'].sb-input::-moz-placeholder,
input[type='date'].sb-input::-moz-placeholder,
input.sb-input::-moz-placeholder {
  color: #777;
}

input[type='text'].sb-input::-ms-input-placeholder,
input[type='password'].sb-input::-ms-input-placeholder,
input[type='date'].sb-input::-ms-input-placeholder,
input.sb-input::-ms-input-placeholder {
  color: #777;
}

input[type='date'] {
  padding: 5px 10px;
}

input[type='range'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='range']:hover {
  border: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  margin-top: 0;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #E6E9EC;
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input[type='range']::-moz-range-thumb {
  width: 15px;
  height: 15px;
  margin-top: 0;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #E6E9EC;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input[type='range']::-ms-thumb {
  width: 15px;
  height: 15px;
  margin-top: 0;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #E6E9EC;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input[type='range']:hover::-webkit-slider-thumb {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

input[type='range']:hover::-moz-range-thumb {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

input[type='range']:hover::-ms-thumb {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

input[type='range']:active::-webkit-slider-thumb {
  border-color: #fff;
  background-color: #fff;
}

input[type='range']:active::-moz-range-thumb {
  border-color: #fff;
  background-color: #fff;
}

input[type='range']:active::-ms-thumb {
  border-color: #fff;
  background-color: #fff;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-bottom: 4px solid #fff;
  background-color: transparent;
  height: 10px;
}

input[type='range']::-moz-range-track {
  width: 100%;
  cursor: pointer;
  border-bottom: 4px solid #fff;
  background-color: transparent;
  height: 10px;
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  border-bottom: 4px solid #fff;
  background-color: transparent;
  height: 10px;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #222;
}

input[type='text'].sb-input.sb-validation-false,
input[type='password'].sb-input.sb-validation-false,
textarea.sb-validation-false {
  border: 1px solid #ee4b55;
}

input[type='text'].sb-input.sb-validation-false:focus,
input[type='password'].sb-input.sb-validation-false:focus,
textarea.sb-validation-false:focus {
  border: 1px solid #ee4b55;
}



